<h2 class="govuk-footer__heading govuk-!-font-size-22">Quick links</h2>
<ul class="govuk-list govuk-!-font-size-18">
    <li>
        <a class="govuk-footer__link" href="https://purchasingplatform.crowncommercial.gov.uk/mp-welcome">Purchasing platform</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://www.digitalmarketplace.service.gov.uk/">Digital marketplace</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://buyers.procserveonline.com/admin/login/auth?marketplace=bootstrap-gem">eMarketplace</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://ccsheretohelp.uk/products-services/buildings/energy/">Energy</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://fleetportal.crowncommercial.gov.uk/login.mth">Fleet</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://travel.crowncommercial.gov.uk/">Travel</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://www.gov.uk/contracts-finder">Contracts Finder</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/esourcing-register">eSourcing</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/esourcing-training">Register for eSourcing training</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="http://ted.europa.eu/TED/main/HomePage.do">Tenders Electronic Daily (TED)</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://www.reportmi.crowncommercial.gov.uk/">Submit your MI returns</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://status.crowncommercial.gov.uk/">Service Status</a>
    </li>
</ul>