<h2 class="govuk-footer__heading govuk-!-font-size-22">About and contact</h2>

    <ul class="govuk-list govuk-!-font-size-18">
        <li>
            <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/about-ccs/">About CCS</a>
        </li>
        <li>
            <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/contact">Contact CCS</a>
        </li>
        <li>
            <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/make-a-complaint/">Make a complaint</a>
        </li>
        <li>
            <a class="govuk-footer__link" href="https://www.gov.uk/government/organisations/crown-commercial-service/about/recruitment">Careers</a>
        </li>
        <li>
            <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/terms-and-conditions/">Terms and conditions</a>
        </li>
        <li>
            <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/cookie-policy/">Cookie policy</a>
        </li>
        <li>
            <a class="govuk-footer__link" href="https://www.gov.uk/government/organisations/crown-commercial-service">Corporate information</a>
        </li>
        <li>
            <a class="govuk-footer__link" href="https://www.gov.uk/government/publications/crown-commercial-service-privacy-notice">Privacy notice</a>
        </li>
        <li>
            <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/accessibility-statement">Accessibility</a>
        </li>
    </ul>