<h2 class="govuk-footer__heading govuk-!-font-size-22">Sitemap</h2>
<ul class="govuk-list govuk-!-font-size-18">
    <li>
        <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/agreements">Search frameworks</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/suppliers">Search suppliers</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/agreements/upcoming">Upcoming deals</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/help-and-support/how-to-buy/">Buy through CCS</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/help-and-support/">Help and support</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/about-ccs/">About CCS</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/contact">Contact us</a>
    </li>
    <li>
        <a class="govuk-footer__link" href="https://www.crowncommercial.gov.uk/news">News</a>
    </li>
</ul>