{% extends 'base.html.twig' %}

{% block title %}Guided Match{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block flourishClasses %}{% endblock %}

{% block body %}
    <!-- required wrapper 1 -->
    <div class="govuk-width-container">
        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->
        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service – your
                    <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/QWDZX/">feedback</a>
                    will help us to improve it.
                </span>
            </p>
        </div>

        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="https://www.crowncommercial.gov.uk/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="https://www.crowncommercial.gov.uk/agreements/search">Search frameworks</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Guided match</li>
            </ol>
        </div>

        <!-- required wrapper 2 -->
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">Check which framework you need to use</h1>
                    <p class="govuk-body">Use this service to find out which frameworks could meet your requirements.</p>
                    <h2 class="govuk-heading-m">Before you start</h2>
                    <p class="govuk-body">It may be helpful to know the following information:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>The product or service you need</li>
                        <li>your estimated budget</li>
                        <li>the sector and organisation you are buying for</li>
                        <li>if you're buying a service, an estimated length of contract and location of where the work needs to take place</li>
                    </ul>
                    <a href="{{ path('question_page', { 'slug': slug }) }}" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
                        Start now
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                        </svg>
                    </a>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
