<ul class="govuk-list govuk-list--bullet">
    <li><strong>Framework:</strong> Frameworks contain a description of what is available, a list of suppliers who have been evaluated as capable of delivering against the requirements, and contract terms. CCS has different frameworks that cover different products and services. You can buy from a framework in various ways, such as direct award or by using a further competition among the suppliers listed, who will bid for the business.
    </li>

	<li><strong>Panel:</strong> A panel is the same as a framework, but what is available is relevant to solicitors firms.</li>

    <li><strong>Lot:</strong> Frameworks are often divided into lots by product, service, region or value. Which lot you use depends on what you need, who you are buying for and your budget. For example, some lots may be better for educational institutions with a budget of under £1 million. Sometimes the lot you use has only one way to buy from it, for example you can only buy using a direct award.
    </li>

    <li><strong>Further competition:</strong> A further competition helps you to compare suppliers in an open and fair way by inviting them to bid on the work you need doing. A further competition can take a few weeks to several months depending on how complex your needs are.
    </li>

    <li><strong>Direct award:</strong> A direct award is a quick way to award work to a chosen supplier on a framework without the need to speak to other suppliers first. This is a high risk method because you have not compared the supplier against others so it does not demonstrate competition, and the outcome may not represent the best value for money.
    </li>
</ul>