<ul class="govuk-list govuk-list--bullet">
    <li><strong>Direct award:</strong> Where there is only one supplier on the
        framework, or if there is an option for direct award in the framework guidance
        notes, you can place an order directly with the supplier. Check the framework
        and its guidance notes to see if direct award is possible and, if so, how to
        proceed.
    </li>
    <li><strong>Further competition:</strong> Once you have selected the CCS framework
        that meets your requirements, you can ask the suppliers listed to bid, a process
        called a further competition. This may be run under any CCS framework which has
        multiple suppliers as an alternative to a direct award.
    </li>
    <li><strong>Framework:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </li>
    <li><strong>Lot:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </li>
</ul>