 {% if  lotsData[framework.number] is defined %}
    
    <dl class="apollo-list apollo-list--definition">
        
        {% for lot in  lotsData[framework.number] %}
            <div class ='gm-lots-containers'>
                
                <dt class="apollo-list--definition__key"> <h3 class="govuk-heading-m">Lot {{lot.number}}: {{lot.name}}</h3> </dt>
                
                <dd class="apollo-list--definition__value"> {{lotsData[framework.number][lot.number].description|raw}} </dd>
            </div>
        {% endfor %}

    </dl>

{% endif %}
