 {% if  lotsData[framework.number] is defined %}  
     {% for lot in  lotsData[framework.number] %}
         <div class ='gm-lots-containers'>
            <h3 class="govuk-heading-m">{{lot.number}}: {{lot.name}}</h3>
            <div> {{lotsData[framework.number][lot.number].description|raw}} </div>
        </div>
    {% endfor %}
{% endif %}  
