<div class="govuk-grid-column-one-quarter app-sticky-element no-print">
	<div class="page-contents js-page-contents">
		<h2 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-3">Page contents:</h2>

		<ul class="govuk-list app-page-contents__list">
			<li class="govuk-body-s sidebar-link">-
				<a class="govuk-link" href="#recommendations">Recommended agreements</a>
			</li>
			<li class="govuk-body-s sidebar-link">-
				<a class="govuk-link" href="#options">Your next steps</a>
			</li>
			<li class="govuk-body-s sidebar-link">-
				<a class="govuk-link" href="#answers">Your answers</a>
			</li>
			<li class="govuk-body-s sidebar-link">-
				<a class="govuk-link" href="#definitions">Routes to market definitions</a>
			</li>
		</ul>

	</div>
</div>