 <div class="govuk-grid-column-one-quarter"><h2 class="govuk-heading-s">Contents:</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#recommendations">Recommendations</a></li>
        <li><a class="govuk-link" href="#options">What are your options</a></li>
        <li><a class="govuk-link" href="#definitions">Definitions</a></li>
        <li><a class="govuk-link" href="#answers">Your answers</a></li>
    </ul>
</div>