<div class="govuk-grid-column-one-quarter app-sticky-element">
	<div class="page-contents js-page-contents">
		<h2 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-3">Page contents:</h2>

		<ul class="govuk-list app-page-contents__list">
			<li class="govuk-body-s">-
				<a class="govuk-link" href="#recommendations">Recommendations</a>
			</li>
			<li class="govuk-body-s">-
				<a class="govuk-link" href="#options">What are your options?</a>
			</li>
			<li class="govuk-body-s">-
				<a class="govuk-link" href="#answers">Your answers</a>
			</li>
			<li class="govuk-body-s">-
				<a class="govuk-link" href="#definitions">Definitions</a>
			</li>
		</ul>

	</div>
</div>