<div role='alert'>
    <span id="no-selection" class="govuk-error-message" style="display:{{ errorMessage is defined and showError is defined and showError is not empty  ? 'block' : 'none' }}">
        <span class="govuk-visually-hidden">Error:</span>
        {% if  errorMessage is defined %}
            {{ errorMessage|raw }}
        {% endif %}
    </span>
</div>