<span id="no-selection" class="govuk-error-message" style="display: none">
    <span class="govuk-visually-hidden">Error:</span> You need to select something.
</span>

<span id="no-input" class="govuk-error-message" style="display: none">
    <span class="govuk-visually-hidden">Error:</span> Please provide Input.
</span>