/*------------------------------------*\
  #Journey Result Page
\*------------------------------------*/

.journey-answers .govuk-summary-list__value:last-child{

    width: 17%;
}

.journey-answers .govuk-summary-list__value:last-child a{
  white-space:nowrap;
}
.govuk-summary-list{
  margin: 0;
}

.view-framework-details-ulr{
  font-size: 0.8421rem;
}

.grey-backgroud {
  background: #f3f2f1;
  padding: 20px;
  margin: 20px 0px;
}

.grey-margin-bottom {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 2rem;
}