.app-sticky-element {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

html {
	scroll-behavior: smooth;
}

.active-id {
	letter-spacing: 0;
	font-weight: bold;
}

@media(max-width: 600px) {
	.app-sticky-element {
		position: relative;
	}
}