<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Question
            </h1>
        </legend>
        <span id="sign-in-hint" class="govuk-hint">
            Description
        </span>
        <div class="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
                    Answer 1
                </label>
                <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    Hint
                </span>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-2">
                    Answer 2
                </label>
                <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                    Hint
                </span>
            </div>
        </div>
    </fieldset>
</div>