 {% for answer in definedAnswers %}
    <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="{{ answer.id }}" name="uuid[]" type="checkbox" value="{{ answer.id }}" aria-describedby="{- answer.hint -}}">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
                {{- answer.text -}}
            </label>
        </div>
        
    </div>
  {% endfor %}
        